.projects-container {
  min-height: 100vh;
  width: 100%;
  background: white;
  padding: 4% 6%; }

.projects-header {
  display: flex;
  flex-direction: column;
  font-family: 'Work Sans', sans-serif;
  color: #1b1a2a;
  font-size: 3.8vw;
  text-shadow: 2px 2px #6b6b7e;
  letter-spacing: 0.2em;
  text-align: center; }
  .projects-header > div:nth-child(1) {
    margin-top: 20px; }
  .projects-header span, .projects-header h2 {
    color: #4d4d5e;
    font-size: 50%;
    letter-spacing: 0.2em;
    text-shadow: none; }
  .projects-header span {
    margin-top: 1%; }
  .projects-header h2 {
    margin-top: 1.5%;
    font-size: 65%; }

.projects-body .project {
  background: #6b6b7e;
  background: linear-gradient(to bottom right, #5e5e6d, #6b6b7e, #7d7d91);
  box-shadow: 10px 10px 3px 0px rgba(158, 158, 177, 0.678);
  padding: 3% 3% 0 3%;
  margin: 4% auto;
  width: 90%;
  display: flex;
  flex-direction: column; }
  .projects-body .project .carousel-box {
    width: 60%;
    margin: 0 auto; }
  .projects-body .project .large {
    width: 20%;
    margin: 0 auto; }

.projects-body .project-info {
  width: 100%;
  margin: 2% auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .projects-body .project-info > div {
    margin-bottom: 3%; }
  .projects-body .project-info .project-title {
    font-family: 'Work Sans', sans-serif;
    font-size: 220%; }
  .projects-body .project-info .project-description {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 0 5%; }
  .projects-body .project-info .expandable {
    width: 100%;
    padding: 0 7%; }
    .projects-body .project-info .expandable .arrow {
      text-align: center;
      cursor: pointer;
      font-size: 2vw;
      transform: rotate(0);
      transition: 0.6s ease-in-out; }
    .projects-body .project-info .expandable .rotate {
      transform: rotate(180deg);
      transition: 0.6s ease-in-out; }
    .projects-body .project-info .expandable .technologies {
      font-family: 'Open Sans', sans-serif;
      overflow: hidden;
      padding-top: 3%;
      text-align: center;
      margin-bottom: none !important;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .projects-body .project-info .expandable .technologies .technologies-header {
        font-size: 120%; }
      .projects-body .project-info .expandable .technologies .technologies-container {
        padding-top: 3%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; }
        .projects-body .project-info .expandable .technologies .technologies-container .tech {
          margin: 1.2% 0;
          width: 25%; }
  .projects-body .project-info .buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .projects-body .project-info .buttons a {
      text-decoration: none;
      color: inherit;
      font-family: 'Work Sans', sans-serif; }
      .projects-body .project-info .buttons a button {
        color: white;
        box-shadow: 3px 3px 3px 0px rgba(27, 26, 42, 0.678);
        cursor: pointer;
        border: none;
        min-width: 100%;
        outline: none;
        font-size: 100%;
        padding: 11%;
        background: #4d4d5e;
        transform: scale(1);
        transition: 0.3s; }
      .projects-body .project-info .buttons a button:hover {
        transform: scale(1.1);
        transition: 0.3s; }

.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
  -webkit-transition: all .25s ease-in;
  -moz-transition: all .25s ease-in;
  -ms-transition: all .25s ease-in;
  -o-transition: all .25s ease-in;
  transition: all .25s ease-in;
  opacity: .4;
  position: absolute;
  z-index: 2;
  top: 20px;
  background: 0 0;
  border: 0;
  font-size: 32px;
  cursor: pointer; }

.carousel .control-arrow:hover {
  opacity: 1; }

.carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before {
  margin: 0 5px;
  display: inline-block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  content: ''; }

.carousel .control-disabled.control-arrow {
  opacity: 0;
  cursor: inherit;
  display: none; }

.carousel .control-prev.control-arrow {
  left: 0; }

.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #fff; }

.carousel .control-next.control-arrow {
  right: 0; }

.carousel .control-next.control-arrow:before {
  border-left: 8px solid #fff; }

.carousel {
  position: relative;
  width: 100%; }

.carousel * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.carousel img {
  width: 100%;
  display: inline-block;
  pointer-events: none; }

.carousel .carousel {
  position: relative; }

.carousel .control-arrow {
  outline: 0;
  border: 0;
  background: 0 0;
  top: 50%;
  margin-top: -13px;
  font-size: 18px; }

.carousel .thumbs-wrapper {
  margin: 20px;
  overflow: hidden; }

.carousel .thumbs {
  -webkit-transition: all .15s ease-in;
  -moz-transition: all .15s ease-in;
  -ms-transition: all .15s ease-in;
  -o-transition: all .15s ease-in;
  transition: all .15s ease-in;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: relative;
  list-style: none;
  white-space: nowrap; }

.carousel .thumb {
  -webkit-transition: border .15s ease-in;
  -moz-transition: border .15s ease-in;
  -ms-transition: border .15s ease-in;
  -o-transition: border .15s ease-in;
  transition: border .15s ease-in;
  display: inline-block;
  width: 80px;
  margin-right: 6px;
  white-space: nowrap;
  overflow: hidden;
  border: 3px solid #fff;
  padding: 2px; }

.carousel .thumb.selected, .carousel .thumb:hover {
  border: 3px solid #333;
  padding: 2px; }

.carousel .thumb img {
  vertical-align: top; }

.carousel.carousel-slider {
  position: relative;
  margin: 0;
  overflow: hidden; }

.carousel.carousel-slider .control-arrow {
  top: 0;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  margin-top: 0;
  padding: 5px; }

.carousel.carousel-slider .control-arrow:hover {
  background: rgba(0, 0, 0, 0.2); }

.carousel .slider-wrapper {
  overflow: hidden;
  margin: auto;
  width: 100%;
  -webkit-transition: height .15s ease-in;
  -moz-transition: height .15s ease-in;
  -ms-transition: height .15s ease-in;
  -o-transition: height .15s ease-in;
  transition: height .15s ease-in; }

.carousel .slider-wrapper.axis-horizontal .slider {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex; }

.carousel .slider-wrapper.axis-horizontal .slider .slide {
  flex-direction: column;
  flex-flow: column; }

.carousel .slider-wrapper.axis-vertical {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex; }

.carousel .slider-wrapper.axis-vertical .slider {
  -webkit-flex-direction: column;
  flex-direction: column; }

.carousel .slider {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  width: 100%; }

.carousel .slider.animated {
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out; }

.carousel .slide {
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
  background: transparent; }

.carousel .slide img {
  width: 100%;
  vertical-align: top;
  border: 0; }

.carousel .slide iframe {
  display: inline-block;
  width: calc(100% - 80px);
  margin: 0 40px 40px;
  border: 0; }

.carousel .slide .legend {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -45%;
  width: 90%;
  border-radius: 10px;
  background: #000;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  opacity: .25;
  -webkit-transition: opacity .35s ease-in-out;
  -moz-transition: opacity .35s ease-in-out;
  -ms-transition: opacity .35s ease-in-out;
  -o-transition: opacity .35s ease-in-out;
  transition: opacity .35s ease-in-out; }

.carousel .control-dots {
  position: absolute;
  bottom: 0;
  margin: 10px 0;
  text-align: center;
  width: 100%; }

@media (min-width: 960px) {
  .carousel .control-dots {
    bottom: 0; } }

.carousel .control-dots .dot {
  -webkit-transition: opacity .25s ease-in;
  -moz-transition: opacity .25s ease-in;
  -ms-transition: opacity .25s ease-in;
  -o-transition: opacity .25s ease-in;
  transition: opacity .25s ease-in;
  opacity: .3;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
  background: #fff;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  cursor: pointer;
  display: inline-block;
  margin: 0 8px; }

.carousel .control-dots .dot.selected, .carousel .control-dots .dot:hover {
  opacity: 1; }

.carousel .carousel-status {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
  color: #fff; }

.carousel:hover .slide .legend {
  opacity: 1; }
