.projects-container {
    min-height: 100vh;
    width: 100%;
    background: white;
    padding: 4% 6%;
}

.projects-header {
    display: flex;
    flex-direction: column;
    font-family:'Work Sans', sans-serif;
    color: rgb(27, 26, 42);
    font-size: 3.8vw;
    text-shadow: 2px 2px rgb(107, 107, 126);
    letter-spacing: 0.2em;
    text-align: center;
    > div:nth-child(1) {
        margin-top: 20px;
    }
    span, h2 {
        color: rgb(77, 77, 94);
        font-size: 50%;
        letter-spacing: 0.2em;
        text-shadow: none;
    }
    span {
        margin-top: 1%;
    }
    h2 {
        margin-top: 1.5%;
        font-size: 65%;
    }
}

.projects-body {
    .project {
        background: rgb(107, 107, 126);
        background: linear-gradient(to bottom right, rgb(94, 94, 109), rgb(107, 107, 126),  rgb(125, 125, 145));
        box-shadow: 10px 10px 3px 0px rgba(158, 158, 177, 0.678);
        padding: 3% 3% 0 3%;
        margin: 4% auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        .carousel-box {
            width: 60%;
            margin: 0 auto;
        }
        .large {
            width: 20%;
            margin: 0 auto;
        }
    }
    .project-info {
        width: 100%;
        margin: 2% auto;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        > div {
            margin-bottom: 3%;
        }
        .project-title {
            font-family:'Work Sans', sans-serif;
            font-size: 220%;
            text-align: center;
        }
        .project-description {
            font-family: 'Open Sans', sans-serif;
            text-align: center;
            padding: 0 5%;
        }
        .expandable {
            width: 100%;
            padding: 0 7%;
            .arrow {
                text-align: center;
                cursor: pointer;
                font-size: 2vw;
                transform: rotate(0);
                transition: 0.6s ease-in-out;
            }
            .rotate {
                transform: rotate(180deg);
                transition: 0.6s ease-in-out;
            }
            .technologies {
                font-family: 'Open Sans', sans-serif;
                overflow: hidden;
                padding-top: 3%;
                text-align: center;
                margin-bottom: none !important;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .technologies-header {
                    font-size: 120%;
                }
                .technologies-container {
                    padding-top: 3%;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    .tech {
                        margin: 1.2% 0;
                        min-width: 25%;
                    }
                }
            }
        }
        .buttons {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            a {
                text-decoration: none;
                color: inherit;
                font-family:'Work Sans', sans-serif;
                button {
                    color: white;
                    box-shadow: 3px 3px 3px 0px rgba(27, 26, 42, 0.678);
                    cursor: pointer;
                    border: none;
                    min-width: 100%;
                    outline: none;
                    font-size: 100%;
                    padding: 11%;
                    background: rgb(77, 77, 94);
                    transform: scale(1);
                    transition: 0.3s;
                }
                button:hover {
                    transform: scale(1.1);
                    transition: 0.3s;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .projects-container {
        padding: 4% 3%;
        .projects-header {
            text-shadow: 2px 2px #6b6b7e;
            font-size: 40px;
            .title {
                margin: 10px 0;
            }
            h2, span {
                display: none;
            }
        }
    }
    .projects-body {
        .project {
            box-shadow: 4px 4px 3px 0px rgba(158, 158, 177, 0.678);
            width: 100%;
            .carousel-box {
                width: 90%;
            }
            .project-info {
                .buttons {
                    a {
                        button {
                            min-width: 75%;
                            height: 100%;
                            padding: 8%;
                            font-size: 13px;
                        }
                    }
                }
                .project-title {
                    font-size: 25px;
                }
                .project-description {
                    font-size: 16px;
                    line-height: 115%;
                }
                .expandable {
                    .arrow {
                        font-size: 20px;
                    }
                    .technologies {
                        .technologies-header {
                            font-size: 17px;
                        }
                        .technologies-container {
                            .tech {
                                margin: 2%;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}