
.home-upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(92, 92, 92);
    background-image: linear-gradient(to bottom right, rgb(18, 18, 38), rgb(45, 45, 56));
    width: 85vw;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    position: absolute;
}

.top-half {
    display: flex;
    flex-direction: row;
}

.component-container {
    height: 100vh;
    width: 85vw;
    position: relative;
    left: 85vw;
    z-index: 3;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgb(45, 45, 56);
}

.home-lower {
    height: 100vh;
    z-index: 3;
    width: 100%;
    overflow: hidden;
    padding: 0 5vw 3vw 5vw;
    overflow-y: auto;
    background: white;
}

.statement-card {
    margin: 0;
    display: flex;
    z-index: 5;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1em;
    height: 23vh;
    width: 40%;
    background: rgba(77, 77, 94, 0.678);
    box-shadow: 0px 0px 10px 10px rgba(77, 77, 94, 0.678);
    font-size: 300%;
    color: white;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
    
}

.flex-container {
    width: 100%;
    height: 100%;
    flex: 1;
    .title-text {
        margin: 3% 0 0 3%;
        img {
            width: 10%;
            height: auto;
            opacity: 0.1;
        }
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-bottom-center {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.down-arrows {
    margin-bottom: 1%;
}

.text {
    opacity: 1;
    transition: 0.5s ease-in-out;
    animation: fadeOut 2.5s infinite;
}

.invisible {
    opacity: 0;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

.front {
    z-index: 4;
}

.bottom {
    transform: translateY(-100vh);
    transition: 1.5s;
    transition-timing-function: cubic-bezier(1, 0.15, 1);
}

.left {
    transition: 1.5s;
    transition-timing-function: cubic-bezier(1, 0.15, 1);
}

.right {
    transform: translateX(-85vw);
    transition: 1.5s;
    transition-timing-function: cubic-bezier(1, 0.15, 1);
}

.top {
    transition: 1.5s;
    transition-timing-function: cubic-bezier(1, 0.15, 1);
}

.up-fast {
    transition: 0.7s ease-in-out all;
    transition-timing-function: cubic-bezier(1, 0.15, 1);
}


.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 85vw;
    overflow: hidden;
}

.arrows {
	width: 60px;
	height: 72px;
    margin-bottom: 6px;
    path {
        stroke: rgb(107, 107, 126);
        fill: transparent;
        stroke-width: 2px;	
        animation: arrow 2s infinite;
        -webkit-animation: arrow 2s infinite; 
    }
}

.zoom {
    text-align: center;
    color: rgb(107, 107, 126);
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    transition: .2s;
    cursor: pointer;
}

.zoom:hover{
    transform: scale(1.15);
}

figure {
    width: 25%;
    height: 0;
    padding-bottom: 25%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 10px 5px rgba(27, 26, 42, 0.678);
    img {
        width: 166%;
        height: auto;
        position: relative;
        right: 33%;
    }
}

.up-arrows {
    transition: 0.2s ease-in-out;
    width: 63px;
    margin: 15px auto 0px auto;
    svg{
        path {
            stroke: rgb(18, 18, 38)
        }
    }
}

.short-profile {
    min-height: 27%;
    width: 100%;
    display: flex;
    padding: 3%;
    background: rgb(77, 77, 94);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family:'Work Sans', sans-serif;
    color: white;
    font-size: 3vw;
    letter-spacing: 0.2em;
    .profile-text {
        width: 50%;
        padding-left: 4%;
        display: flex;
        flex-direction: column;
        h2 {
            text-align: center;
            font-size: 3vh;
            margin-top: 3%;
        }
        h1 {
            text-align: center;
        }
    }
}

.profile-icons  {
    margin-top: 8%;
    display: flex;
    justify-content: space-around;
    a {
        img {
            width: auto;
            height: 3vw
        }
    }
}

.horizontal-divider {
    background: black;
    margin-top: 3%;
    width: 0%;
    height: 3px;
    transition: 1.5s ease-out;
}

.animate-length {
    width: 100%;
    transition: 1.5s ease-out;
}

.vertical-divider {
    height: 0;
    width: 3px;
    background: black;
    transition: 1.5s ease-in-out;
}

.animate-height {
    height: 56vh;
    transition: 2s ease-out;
}

.about-lower {
    position: relative;
    min-height: 56vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-panel {
    padding: 3%;
    width: 47%;
    font-family: 'Domine', serif;
    h3 {
        font-size: 4vh;
        color: rgb(18, 18, 38);
        margin-bottom: 4%;
        text-align: center;
        font-family:'Work Sans', sans-serif;
    }
    p {
        font-size: 2vh;
        line-height: 2em;
        text-align: center;
        span {
            color: rgb(107, 107, 126);
        }
    }
}

